.home__video {

  &-wrapper {
    position: relative;  
    background: $main-gradient;
    border-bottom: 2rem solid $color-accent;
  }

  &-caption {
    position: absolute;
    @include background-gradient(.2);
    padding: 4rem; 
    color: $color-white;
    top: 8rem;
    left: 8rem;
    min-width: 25vw;
    max-width: 35vw;
    z-index: 10;

    @include desktop {
      min-width: unset;
      max-width: unset;
      width: 80vw;
      top: 4rem;
      left: 4rem;
    }
    
    @include tablet-landscape {
      top: 2rem;
      left: 2rem;
      width: 80vw;
    }

    @include phone-only {
      top: 2rem;
      left: 2rem;
      position: static;
      margin: 2rem auto;
      width: 80vw;
    }

    h3 {
      font-size: 3.4rem;
      margin-bottom: 4rem;
      text-shadow: $font-shadow;
    }
    
    p {
      font-size: 2.4rem;
      margin-bottom: 4rem;
      line-height: 2;
      text-shadow: $font-shadow;
      
      @include tablet-landscape {
        line-height: 1;
      }
    }
  }

  &-video {
    @include phone-only {
      display: none;
    }
  }
}