// COLOR VARIABLES
$color-primary-bright: #01D3FB;
$color-primary: #01B7DA;
$color-secondary: #016A7E;
$color-accent: #65FF00;
$main-gradient: linear-gradient(to bottom, $color-primary-bright, $color-secondary);
$btn-gradient: linear-gradient(to bottom, #D4D4D4, #808080);

$color-black: #0f0f0f;
$color-white: #fff;

$font-shadow: 2px 3px 7px 15px rgba(0,0,0,.3);

// GLOBAL STYLES
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}
