
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-image:linear-gradient(to bottom right,  $color-primary,  $color-secondary);
  color: $color-white;
  border-radius: 7px;
  min-width: 15%;
  min-height: 35rem;
  justify-content: space-between;

  .icon {
    margin-right: 0;
    width: 6rem;
    fill: $color-white;
    height: 6rem;
  }

  button {
    padding: 1.6rem 5rem;
    border-radius: 70px;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    background-color: $color-white;
    color: $color-black;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $color-black;
      color: $color-white;
      transform: translateY(-3px);
    }
  }
}