
.footer {
  background: $main-gradient;
  font-size: 1.6rem;
  padding: 6rem 6rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  color: $color-white;

  .footer-list {
    // width: 22%;
    flex: 0 1 20%;
    margin: 0 0 3rem;
    
    &:not(.last) {
      border-right: 2px solid $color-white;
      align-self: stretch;
    }
  }


  @include phone-only {
    flex-direction: column;
  }

  h3 {
    font-size: 3.8rem;
    margin-bottom: 1.4rem;
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
      cursor: pointer;
      padding: .8rem 0;
      transition: all .3s;
      font-size: 2.2rem;

      &:hover {
        background: rgba(0,0,0,.05);
        padding: 1rem;
      }
    }
  }



  .footer-bottom {
    padding-top: 2rem;
    display: flex;
    width: 100%;
    font-size: 3rem;
    align-self: center;
    border-top: 2px solid $color-white;
    text-align: center;

    .footer-icons {
      display: flex;
      margin-left: auto;

      
      img {
        
        height: 30px;
        cursor: pointer;
        
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
