.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-spacer {
  height: 70px;
}

.App-header {
  background: $main-gradient;
  height: 7rem;
  font-size: calc(5px + 2vmin);
  color: $color-white;

  nav.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 3rem;

    .home-link {
      padding: 3rem;
      width: 200px;
    }

    .menu-link {
      padding: 3rem;
      width: 85px;
      cursor: pointer;
    }

    .menu-link.close {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      padding: 2rem 3rem 0;
    }
  }

  nav.openNav {
    width: 100vw;
    height: calc(100vh - 70px);
    z-index: 10;
    background: $main-gradient;
    display: none;
    justify-content: center;
    align-items: center;

    ul li {
      margin-bottom: 2rem;
    }
    
    a {
      text-decoration: none;
      color: $color-white;
      font-size: 4rem;
      padding: 1rem 2rem;
      cursor: pointer;

      &:hover {
        background: rgba(0,0,0,.5);
      }

    }
  }
}

.App-header nav.openNav.open {
  display: flex;
}

