.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-spacer {
  height: 70px;
}

.App-header {
  background: $main-gradient;
  height: 7rem;
  font-size: calc(5px + 2vmin);
  color: $color-white;

  nav.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 3rem;

    .home-link {
      padding: 3rem;
      width: 200px;
    }

    .menu-link {
      padding: 3rem;
      width: 85px;
    }
  }
}

