.hero {
  padding: 8rem 4rem;
  background-image: url(../assets/svg/globalnet.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  color: $color-white;
  text-shadow: 2px 4px 7px rgba($color-black, 0.7);
  display: flex;
  border-bottom: 20px solid $color-accent;


  @include tablet-landscape {
    flex-direction: column;
  }


  &__left {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 4vw;

    @include tablet-landscape {
      width: 100%;
    }
    
      
    }

  &__right {
    font-size: 3vw;
    line-height: 1.25;
    text-align: right;
    flex: 1;
    padding: 5rem;

    @include tablet-landscape {
      font-size: 6vw;
    }

    ul {
      padding-inline-start: 0;
    }
    li {
      text-shadow: $font-shadow;
      margin-bottom: .4rem;
      list-style: none;
    }
  }
}
// button {
//   padding: 1.5rem 3.5rem;
//   font-size: 2.6rem;
//   color: $color-white;
//   background: transparent;
//   border: 1px solid $color-white;
//   text-transform: uppercase;
//   border-radius: 70px;
//   cursor: pointer;
//   transition: all 0.3s;
//   font-weight: bold;
//   letter-spacing: 1.75px;
//   animation: pulse .75s ease 0s infinite alternate-reverse both;  

  
//   .icon.hero-icon {
//     fill: $color-white;
//     transform: scale(1.75);
//     margin-right: 2rem;
//     background: transparent;
//     transition: fill .3s;
    
//   }
//   &:hover {
//     color: $color-black;
//   }
  
//   &:hover .icon.hero-icon {
//     fill: $color-black;
//   }
// }
// @keyframes pulse {
//   0% {
//     box-shadow: 1px 1px 5px 7px rgba($color-white, 0.1);
//   }
//   100% {
//     box-shadow: 2px 2px 40px 10px rgba($color-white, 0.4);
//   }
// }
