.home__connected {

  img.map {
    width: 100vw;
    object-fit: cover;
  }

  &-form {
    background-image: url(../assets/images/web-3706561_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: $color-white;
    display: flex;
    padding: 4rem;
    justify-content: space-around;

    @include phone-only {
      flex-direction: column;
    }

    h3 {
      font-size: 8rem;
      text-shadow: $font-shadow;
      width: 40%;
    }

    .form-wrapper {
      display: flex;
      flex-wrap: wrap;
      background: $main-gradient;
      padding: 3rem;
      border-radius: 2rem;
      width: 40%;
      justify-content: space-around;

      @include phone-only {
        width: 100%;
      }

      h4 {
        font-size: 4rem;
        flex: 0 1 100%;
      }

      img {
        width: 150px;

        @include phone-only {
          display: none;
        }
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          font-size: 2rem;
          margin-bottom: .5rem;
        }

        input {
          margin-bottom: 1rem;
          padding: .5rem 1rem;
          font-size: 2rem;

          &:last-of-type {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}