.services {
  height: 80vh;
  padding: 4rem;
  font-size: 4rem;
  color: $color-white;
  background: linear-gradient(
    to bottom right,
    rgba($color-primary, 0.7),
    rgba($color-secondary, 0.7)
  );
  width: 100%;
}
