.wifi {
  display: flex;
  flex-wrap: wrap;

  &__hero {
    width: 100%;
    height: 40vh;
    padding: 8rem;
    color: $color-black;
    background: url(../assets/images/cloudkeyHero.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__heading {
    font-size: 3rem;
    flex: 0 0 100%;
    background: rgba(255,255,255,.8);
    padding: 3rem;
    outline: 3rem solid rgba($color-primary, .7);
    display: inline-block;
  }

  &__card {
    flex: 0 0 100%;
    font-size: 2.6rem;
    display: flex;
    line-height: 1.5;
    max-height: 50rem;
    flex-wrap: wrap;
    // background-color: $color-secondary;

    @include tablet-landscape {
      max-height: 100%;
    }

    &-info {
      padding: 4rem;
    }
    // div,
    div {
      width: 50%;

      @include tablet-landscape {
        width: 100%;
      }

    }

    .img {
      padding: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: darken($color-primary, 5%);
      // background-color: 1$color-primary;
      background: linear-gradient(to bottom right, $color-secondary, rgba($color-secondary, .5));
      
      img {
        max-width: 100%;
        height: auto;
        // max-height: 100%;
      }
    }
    .img.right {
      // background-color: darken($color-gray-dark, 5%);
      // background-color: $color-gray-dark;
      background: linear-gradient(to bottom right, rgba($color-gray-dark, .1), rgba($color-gray-dark, .5));

      .img {
        max-width: 100%;
        height: auto;
      }

  }
  }

  &__card.right {
    background-color: $color-gray-dark;
    color: $color-white;
    .img {
      order: -1;

      @include tablet-landscape {
        order: 0;
      }
    }
  }

  img {
    width: auto;
    // max-width: 100%;
    height: 100%;
  }
}
